/**************************/
/* RESET */
/**************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  color: #555;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

/* HELPER */
.margin-right-sm {
  margin-right: 1.6rem;
}
.margin-bottom-md {
  margin-bottom: 4.8rem;
}
.center-text {
  text-align: center;
}
strong {
  font-weight: 500;
}

/*********************************/
/* GENERAL REUSEABLE COMPONENTS */
/********************************/
.container {
  /* 1140 px */
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--center-v {
  align-items: center;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

/* HEADING */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  line-height: 1.2;
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  line-height: 1.2;
  font-size: 3rem;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  color: #cf711f;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

/* Buttons */
.btn,
.btn:link,
.btn:visited {
  border: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 9px;
  font-family: inherit;
  transition: all 0.3s;
  display: inline-block;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
}

.btn--full:link,
.btn--full:visited {
  color: #fff;
  background-color: #e67e22;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  color: #555;
  background-color: #fff;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
  background-color: #45260a;
}
.btn--form:hover {
  color: #555;
  background-color: #fff;
}

/* LINKS */
.link:link,
.link:visited {
  color: #e67e22;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/* LIST */
.list {
  gap: 1.6rem;
  display: flex;
  list-style: none;
  flex-direction: column;
}
.list-item {
  gap: 1.6rem;
  display: flex;
  line-height: 1.2;
  font-size: 1.8rem;
  align-items: center;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

/**************************/
/* HEADER */
/**************************/
.logo {
  height: 2.2rem;
}
.header {
  display: flex;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  align-items: center;
  background-color: #fdf2e9;
  justify-content: space-between;
}
.header > a > img .logo {
  text-decoration: none;
}

/* NAVIGATION LIST */
.main-nav-list {
  gap: 4.8rem;
  display: flex;
  list-style: none;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  display: inline-block;
  text-decoration: none;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
  text-decoration: none;
}

/* CTA */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: #fff;
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE NAV */
.btn-mobile-nav {
  border: none;
  display: none;
  cursor: pointer;
  background: none;
}
.icon-mobile-nav {
  color: #333;
  width: 4.8rem;
  height: 4.8rem;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY HEADER */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  z-index: 999;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .section-hero {
  margin-top: 9.6rem;
}

/**************************/
/* HERO SECTION */
/**************************/
.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #fdf2e9;
}
.hero {
  gap: 9.6rem;
  display: grid;
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 130rem;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.hero-img {
  width: 100%;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

/* DELIVERED IMAGES */
.delivered-meals {
  gap: 1.6rem;
  display: flex;
  margin-top: 8rem;
  align-items: center;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-weight: 600;
  font-size: 1.8rem;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/**************************/
/* FEATURED IN SECTION */
/**************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  color: #888;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 2.4rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  opacity: 50%;
  height: 3.2rem;
  filter: brightness(0);
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/
.section-how {
  padding: 9.6rem 0;
}
.step-number {
  color: #ddd;
  font-weight: 600;
  font-size: 8.6rem;
  margin-bottom: 1.2rem;
}
.step-description {
  line-height: 1.8;
  font-size: 1.8rem;
}
.step-img-box {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.step-img {
  width: 35%;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  z-index: -2;
  padding-bottom: 60%;
  background-color: #fdf2e9;
}
.step-img-box::after {
  width: 45%;
  z-index: -1;
  padding-bottom: 45%;
  background-color: #fae5d3;
}

/**************************/
/* MEALS SECTION */
/**************************/
.section-meals {
  padding: 9.6rem 0;
}
.meal {
  overflow: hidden;
  border-radius: 11px;
  transition: all 0.4s;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  gap: 0.4rem;
  display: flex;
  margin-bottom: 1.2rem;
}
.tag {
  color: #333;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 100px;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  color: #333;
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  gap: 2rem;
  display: flex;
  list-style: none;
  flex-direction: column;
}
.meal-attribute {
  gap: 1.6rem;
  display: flex;
  font-size: 1.8rem;
  align-items: center;
}
.meal-icon {
  color: #e67e22;
  width: 2.4rem;
  height: 2.4rem;
}
.meal-img {
  width: 100%;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/
.section-testimonials {
  display: grid;
  align-items: center;
  background-color: #fdf2e9;
  grid-template-columns: 55fr 45fr;
}
.testimonials-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  row-gap: 4.8rem;
  column-gap: 4.8rem;
  grid-template-columns: repeat(2, 1fr);
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  line-height: 1.8;
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  color: #6f6f6f;
  font-size: 1.6rem;
}

.gallery {
  gap: 1.6rem;
  display: grid;
  padding: 1.6rem;
  grid-template-columns: repeat(3, 1fr);
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  width: 100%;
  display: block;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}

/**************************/
/* PRICING */
/**************************/
.section-pricing {
  padding: 9.6rem 0;
}
.pricing-plan {
  width: 75%;
  border-radius: 11px;
}

.pricing-plan {
  width: 75%;
  border-radius: 11px;
}
.pricing-plan--starter {
  padding: 4.6rem;
  justify-self: end;
  border: 2px solid #fdf2e9;
}
.pricing-plan--complete {
  padding: 4.8rem;
  overflow: hidden;
  position: relative;
  background-color: #fdf2e9;
}

.pricing-plan--complete::after {
  content: "Best Value";
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  color: #333;
  font-weight: 600;
  font-size: 6.2rem;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  color: #6f6f6f;
  line-height: 1.6;
  font-size: 1.6rem;
}
.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  line-height: 1.6;
  font-size: 1.6rem;
  text-align: center;
}

.feature-icon {
  width: 3.2rem;
  height: 3.2rem;
  padding: 1.6rem;
  color: #e67e22;
  border-radius: 50%;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
}
.feature-title {
  color: #333;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}
.feature-text {
  line-height: 1.8;
  font-size: 1.8rem;
}

/**************************/
/* CTA SECTION */
/**************************/
.section-cta {
  padding: 4.8rem 0 12.8rem;
}
.cta {
  display: grid;
  border-radius: 11px;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}
.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}
.cta-text {
  line-height: 1.8;
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-size: cover;
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../assets/eating.jpg");
  background-position: center;
}

.cta-form {
  display: grid;
  row-gap: 2.4rem;
  column-gap: 3.2rem;
  grid-template-columns: repeat(2, 1fr);
}
.cta-form label {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/**************************/
/* FOOTER */
/**************************/
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.grid--footer {
  grid-template-columns: repeat(2, 1.5fr) repeat(3, 1fr);
}

.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.footer-heading {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.social-links {
  gap: 2.4rem;
  display: flex;
  list-style: none;
}
.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.copyright {
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
  font-size: 1.4rem;
}

.contacts {
  line-height: 1.6;
  font-size: 1.6rem;
  font-style: normal;
}
.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  gap: 2.4rem;
  display: flex;
  list-style: none;
  flex-direction: column;
}
.footer-link:link,
.footer-link:visited {
  color: #767676;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #555;
}

/*****************/
/* Media Queries */
/*****************/

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }

  .grid {
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .hero {
    gap: 6.4rem;
    padding: 0 8rem;
    grid-template-columns: 1fr;
  }
  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }
  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    margin-top: 3.2rem;
    justify-content: center;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    /* 3/5 = 60% + 2/5 = 40% */
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 1.2rem;
  }

  /* Mobile Navigation */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide visually */
    opacity: 1;

    /* Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* Hide from screen reader */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    gap: 4.8rem;
    flex-direction: column;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  .pricing-plan {
    width: 100%;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }
  .hero {
    padding: 0 3.2rem;
  }
  .hero-img {
    width: 80%;
  }
  .logos img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    gap: 1.2rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .cta{
    grid-template-columns: 1fr;
  }
  .cta-text-box{
    padding: 3.2rem;
  }
  .cta-img-box{
    grid-row: 1;
    height: 32rem;
  }
}
